.sidebar {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 30px;
  background: #352f44;
  border: 1px solid #dbd8e334;
  border-radius: 15px;
  transition: width 0.5s ease;

  .information-button {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    border: 1px solid #dbd8e334;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background 0.5s;
    font-weight: 400;
    font-size: 1rem;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 20px;

    > .profile-image {
      border-radius: 15px;
      width: 75px;
    }

    > .profile-text {
      display: flex;
      flex-direction: column;

      > .profile-name {
        font-size: 1.2rem;
        margin: 10px 0;
      }
      > .profile-title {
        font-size: 0.7rem;
        text-align: center;
        background: #5c5470;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }

  .information-list {
    width: 100%;
    display: grid;

    > .information-item {
      display: flex;
      align-items: center;

      > .information-icon {
        margin: 10px 20px 10px 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.301),
          0 1px 2px rgba(0, 0, 0, 0.34);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      > .information-wrap {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: flex-start;

        > .information-tilte {
          font-size: 12px;
          font-weight: 300;
          color: #d6d6d6b2;
        }
        > .information-content {
          font-size: 14px;
          font-weight: 500;
          text-align: left;
        }
      }
    }
  }

  .separator {
    border-width: 1px 0 0 0;
    border-color: #dbd8e334;
    margin: 20px 0;
  }

  .link-list {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > .link-item {
      width: fit-content;
      height: 100%;
      padding: 0 10px;

      .link-icon {
        width: 100%;
        height: 100%;
        transition: filter 0.2s;
      }

      .link-icon {
        g,
        path {
          fill: #dddd;
          transition: fill 0.3s;
        }
      }

      &:hover .link-icon {
        g,
        path {
          fill: #ffd453;
        }
      }
    }
  }
}

@media screen and (min-width: 580px) {
  .sidebar {
    width: 500px;
  }
}

/* 1024 ~ 1399까지 */
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .sidebar {
    width: 880px;

    .profile {
      .profile-image {
        width: 100px;
      }

      .profile-text {
        .profile-name {
          font-size: 1.5rem;
        }
        .profile-title {
          font-size: 0.9rem;
        }
      }
    }

    .information-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* 1400 ~ */
@media screen and (min-width: 1400px) {
  .sidebar {
    position: sticky;
    top: 80px;
    height: max-content;
    width: max-content;
    text-align: center;

    .information-button {
      display: none;
    }

    > .profile {
      flex-direction: column;
      padding: 30px 0;
      margin-bottom: 0;
      gap: 10px;

      .profile-image {
        width: 150px;
      }
      .profile-text {
        .profile-name {
          font-size: 1.8rem;
        }
        .profile-title {
          font-size: 1rem;
        }
      }
    }

    .link-list {
      justify-content: center;
    }
  }
}
