.contact {
  height: 100%;

  .contact-info {
    font-size: 16px;
    font-weight: 400;
    color: #dddd;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100% !important;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    background: none;
    font-size: 16px;
    font-family: "Noto Sans KR", serif;
    border: 1px solid #dbd8e334;
  }

  input:focus,
  textarea:focus {
    border-color: #ffd453ab;
    outline: none;
  }

  textarea {
    height: 15rem;
    resize: none;
    margin-bottom: 30px;
  }

  .send-button {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #dbd8e334;
    border-radius: 5px;
    float: right;
    transition: background 1s;

    button {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .send-button:hover {
    background: #ffd453ab;
  }
}

/* ~ 580 */
@media screen and (min-width: 580px) {
}

/* 1024 ~ 1399까지 */
@media screen and (min-width: 1024px) {
  .contact {
    .contact-input {
      display: flex;
      gap: 30px;
      /* margin-bottom: 30px; */

      input {
        flex: 1;
      }
    }
  }
}
